src/main/mule/mule-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f28251c4-caa6-49c2-9bd3-ad4f2284e15a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-jenkinsFlow" doc:id="1d480d8a-fc80-4298-a71c-a4ed22e065f4" >
		<http:listener doc:name="Listener" doc:id="59fc2d41-4204-41bd-8665-ba37a1f2db29" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value='#[{
	"status":"success",
	"message":"My First CI CD"
}]' doc:name="Set Payload" doc:id="5ae6b2c1-0974-4fe4-afda-dd3bc621e8b6" />
	</flow>
</mule>
